/* ==========================================================================
    About
========================================================================== */

.t-page.is-about {

    // screen at or above 1500px
    @include media(">=big") {
        padding-top: $gutter;
        padding-bottom: $gutter;
    }

    // screen at or above 1800px
    @include media(">=huge") {
        padding-top: $gutter-lg;
        padding-bottom: $gutter-lg;
    }

    .o-page__sections {
        padding-bottom: $gutter;
    }
}
