{# -- Base Page Layout -- #}
{# ----------------------------------------------------------------- #}
{% extends '_base/base.twig' %}

{# -- Page Variables -- #}
{# ----------------------------------------------------------------- #}

{# -- Page Template -- #}
{# ----------------------------------------------------------------- #}
{% block content %}

    <div class="c-content" style="min-height: 50vh; text-align: center;">
        <h1 class="u-title">404</h1>
        <p>Sorry, we couldn't find what you're looking for.</p>
    </div>

{% endblock %}
