/* ==========================================================================
    Footer
========================================================================== */

.c-footer {
    position: relative;
    padding: $gutter;
    background-color: $black;
    color: $white;

    // screen at or above 900px
    @include media(">=medium") {
        display: flex;
        flex-wrap: wrap;
        column-gap: $gutter;
    }

    // screen at or above 1200px
    @include media(">=large") {
        column-gap: $gutter-lg;
    }
}

.c-footer__about {
    // screen at or above 900px
    @include media(">=medium") {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

.c-footer__form {
    // screen at or above 900px
    @include media(">=medium") {
        flex: 0 1 50%;
        max-width: 400px;
    }
}

.c-footer__legal {
    text-align: center;

    // screen at or above 900px
    @include media(">=medium") {
        flex: 1 1 100%;
        max-width: 100%;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.75em;
    }

    hr {
        height: 4px;
        margin: 1.5em auto;
    }
}
