{# -- Component Variables -- #}

{% set this = {
    image: params.src|default(null)
} %}

{# -- Component Template -- #}

{% if this.image %}
<div class="c-image">
    {% set image = get_image(this.image) %}

    {% include '_elements/picture.twig' with {
        params: {
            src: image
        }
    } only %}

</div>
{% endif %}
